*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: title;
    src: url(/Barlow_Semi_Condensed/BarlowSemiCondensed-ExtraLight.ttf)
  }

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200&display=swap');

body{
    color: #FFF;
    background-color: #272727;
}

header{
    height: 45vw;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(/images/pexels-alex-fu-1694100.jpg);
    background-size: cover;
    background-position-y: -100px;
    color: white;
    font-family: 'title';
    font-weight: 200;
    display: flex;
}

nav{  
    display: flex;
    margin-left: 100px;
    margin-top: 20px;
    font-family: 'DM Sans', sans-serif;
}

nav a{
    margin: 30px;;
    font-size: 20px;
    text-decoration: none;
    color: #FFF;
    
}

.nazev{
    position: absolute;
    top: 300px;
    left: 500px;

}

.nazev h2{
    font-size: 32px;
}

.nazev h1{
    font-size: 131px;
    width: 10px;
    line-height: 112px;
}

main{
    background-color: #272727;
    font-family: 'DM Sans', sans-serif;
}

.about{
    width: 1100px;
    margin: 0 auto;
    
}

.about h2{
    color:#B78400;
    width: 661px;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 50px;
    height: 51px;
    line-height: 50.74px;
}

.about p{
    text-align:justify;
    font-size: 29px;
    height: 129px;
}

.about .podtext{
    font-size: 24px;
    height: 72px;
}

