*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background: rgb(126,130,255);
background: linear-gradient(90deg, rgba(126,130,255,1) 0%, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 84%, rgba(142,157,255,1) 100%);
}

.nazev{
    text-align: center;
    margin-top: 20px;

}



.line{
    height: 0px;
    width: 600px;
    border: 1px solid black;
    margin: 30px auto;
}

.info{

    width: 500px;
    text-align: center;
    margin: 0 auto;
}

.info h3{
    padding: 8px;
}

.uplat{
    margin: 80px 500px;
}

.uplat li{
    padding: 6px;
}

.uplat h2{
    padding-bottom: 9px;
}

.popis{
    margin: 0 500px;
}

.popis h2{
    padding-bottom: 9px;
}

.popis li{
    padding: 6px;
}

.obr1 img{
    position: absolute;
    top: 100px;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
}

.obr2 img{
    position: absolute;
    top: 0px;
    right: 675px;
    height: 80px;
}

.obr3 img{
    position: absolute;
    height: 600px;
    top: 100px;
    right: 100px;

}


